@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'yekanbakh';
}


@font-face {
  font-family: 'yekanbakh';
  src: url("/fonts/YekanBakh-Regular.woff") format("woff");
}

@font-face {
  font-family: 'VazirFdWol';
  src: url("/fonts/Vazir-FD-WOL.woff2") format("woff2");
}

@theme {
  --font-bakh: "yekanbakh";
  --font-number: "VazirFdWol";
  --color-primary: #28A745;
  --color-primary-300: rgba(40, 167, 69, 0.25);
  --color-secondary: #10411B;
  --color-complementry: #009ECA;
  --text-color: #282828;
  --color-custome-red: #D40000;
  --color-custome-gray: #F4F4F4;
}


/*  Customise zaman datepicker */
.zm-DaysButton {
  border-radius: 5px !important;
}

.zm-Header {
  background-color: transparent !important;
}

.zm-MonthYearButton {
  background-color: #28A745 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.css-137m4ck {
  border-radius: 10px !important;
}

.css-1osmdps {
  border-bottom: none !important;
}

.css-1e0sis0 .rdp__overlay {
  background-color: transparent !important;
}

.css-1e0sis0{
  position: absolute !important;
  top: 50px !important
}
@media (max-width: 768px) {
  .css-1e0sis0{
  position: absolute !important;
  top: 180px !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



}